# Server Port & Host
PORT=3001
HOST=0.0.0.0
NODE_ENV=development

# Admin Dashboard Password (Ganti dengan password rahasiamu)
ADMIN_PASSWORD=adminrelo2026

# Better Auth Secret (Ganti dengan string acak rahasia)
BETTER_AUTH_SECRET=detektif-data-offline-secret-2024
BETTER_AUTH_URL=http://localhost:3001

# Frontend URL (untuk CORS izin domain game kamu)
FRONTEND_URL=http://localhost:3000

# Opsional: Database Cloud Turso (LibSQL)
# Jika dikosongkan, backend otomatis menggunakan SQLite file lokal (detektif_data.db)
# DATABASE_URL=libsql://your-database-name.turso.io
# DATABASE_AUTH_TOKEN=your-turso-auth-token
